* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.canvas-container {
  width: 600px;
  height: 600px;
  display: flex;
  flex-wrap: wrap;
  border: 2px solid black;
  justify-content: flex-start;
  align-items: flex-start;
}

.canvas-container div {
  border: 1px solid black;
}
